{#
/**
 * @file
 * Default theme implementation to display a paragraphs.
 *
 * Available variables:
 * - paragraphs: Full paragraphs entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraphs.getCreatedTime() will return the paragraphs creation timestamp.
 *   - paragraphs.id(): The paragraphs ID.
 *   - paragraphs.bundle(): The type of the paragraphs, for example, "image" or "text".
 *   - paragraphs.getOwnerId(): The user ID of the paragraphs author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraphs object.
 * - content: All paragraphs items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraphs is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraphs; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraphs',
    'paragraphs--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraphs--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraphs--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6">
              <div class="row row-50">
                <div class="col-md-6 col-lg-12">
                  <h2 class="heading-decorate"><span class="divider"></span>{{ content.field_title.0 }}</h2>
                  <div>{{ content.field_text_formatted_long }}</div>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="quote-with-image">
                    <figure class="quote-img">
                      <img src="{{ file_url(content.field_media_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="" width="534" height="406">
                    </figure>
                    <div class="quote-caption">
                      <svg version="1.1" xmlns="https://www.w3.org/2000/svg" x="0px" y="0px" width="88.34px" height="65.34px" viewBox="0 0 88.34 65.34" enable-background="new 0 0 88.34 65.34" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                        <path d="M49.394,65.34v-4.131c12.318-7.088,19.924-16.074,22.811-26.965c-3.125,2.032-5.968,3.051-8.526,3.051																	c-4.265,0-7.864-1.721-10.803-5.168c-2.937-3.444-4.407-7.654-4.407-12.64c0-5.511,1.932-10.142,5.791-13.878																	C58.123,1.873,62.873,0,68.51,0c5.639,0,10.354,2.379,14.143,7.137c3.793,4.757,5.688,10.678,5.688,17.758																	c0,9.977-3.814,18.912-11.443,26.818C69.268,59.613,60.101,64.156,49.394,65.34z M0.923,65.34v-4.131																	c12.321-7.088,19.926-16.074,22.813-26.965c-3.126,2.032-5.993,3.051-8.598,3.051c-4.219,0-7.794-1.721-10.734-5.168																	C1.467,28.683,0,24.473,0,19.487C0,13.976,1.919,9.346,5.757,5.609C9.595,1.873,14.334,0,19.971,0																	c5.685,0,10.41,2.379,14.178,7.137c3.767,4.757,5.652,10.678,5.652,17.758c0,9.977-3.805,18.912-11.409,26.818																	C20.787,59.613,11.632,64.156,0.923,65.34z"></path>
                      </svg>
                      <h3 class="quote-text text-right">{{ content.field_subtitle }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row row-50">
                <div class="col-md-6 col-lg-12">
                  <figure class="block-image"><img src="{{ file_url(content.field_media_image2[0]['#media'].field_media_image.entity.uri.value) }}" alt="" width="541" height="369">
                  </figure>
                  <p>{{ content.field_text_plain }}</p>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="box-video" data-lightgallery="group"><img src="{{ file_url(content.field_media_image3[0]['#media'].field_media_image.entity.uri.value) }}" alt="" width="541" height="369"><a class="button-play" data-lightgallery="item" href="https://www.youtube.com/watch?v=m10Vl9TXpec"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
  </div>
{% endblock paragraph %}
